{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <h1>{{ illness.name }}</h1>
    <p>Genital herpes is a common sexually transmitted infection (STI) caused by the herpes simplex virus (HSV), typically HSV-2, but HSV-1 can also cause genital infections. </p>
    <h1>Symptoms</h1>
    <p>{{ illness.description|linebreaksbr }}</p>

    <h2>Related Images:</h2>
    <div>
       {% if illness.images.exists %}
          <div class="image-gallery">
                {% for image in illness.images.all %}
                   <img src="{{image.pic.url}}" alt="Image for {{illness.name}}" style="width: 500px; height:400px">
                {% endfor %}
          </div>
        {% else %}
            <P>No images available for {{illness.name}}</P>
        {% endif %}
    </div>

    <a href="{% url 'index' %}">Back to the homepage</a>
    {% endblock %}
</body>
</html>