{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    
    <div>
       {% if illness.images.exists %}
          <h1>{{ illness.name }}</h1>
          <p>{{ illness.description }}</p>
          <h2 class="mt-3">Related Images:</h2>
          <div class="row image-gallery">
                {% for image in illness.images.all %}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <img src="{{image.pic.url}}" alt="Image for {{illness.name}}"  class="card-img-top img-fluid">
                        </div>
                    </div>
                {% endfor %}
          </div>
        {% else %}
            <P>No images available for {{illness.name}}</P>
        {% endif %}
    </div>

    <div class="mt-4">
        <a href="{% url 'index' %}">Back to the homepage</a>
    </div>

    {% endblock %}
</body>
</html>