{% extends 'base.html' %}
{% load static %}
!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div class="container"> 
        <h1>Shop Now</h1> 
          <div class="row"> 
            {% for merchandise in merchandises %}
             <div class="col-md-4"> 
                <div class="card mb-4 shadow-sm"> 
                    {% if merchandise.sample.all %}
                       <img src="{{ merchandise.sample.first.image.url }}" class="card-img-top" alt="{{ merchandise.name }}"> 
                    {% else %}
                       <img src="{% static 'default_image.jpg' %}" class="card-img-top" alt="Default image">
                    {% endif %}
                    <div class="card-body"> 
                        <h5 class="card-title">{{ merchandise.name }}</h5> 
                        <p class="card-text">{{ merchandise.details }}</p> 
                        <div class="d-flex justify-content-between align-items-center"> 
                            
                            <a href="{% url 'pay' merchandise.id %}" class="btn btn-primary">Price: Ksh{{merchandise.price}}</a>
                        </div> 
                    </div> 
                </div> 
            </div> 
            {% endfor %}

    {% endblock %}
</body>
</html>