{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
   <h2>{{illness.name}}</h2>
   <p>This is a water-borne disease caused by a bacteria known as Salmonella Typhi.</p>
   <p>It is also spread through contaminated food</p>
   <h2>Symptoms</h2>
   <div class="container">
    <p>{{illness.description}}</p>
   </div>
   <div class="container">
    <h2>Images of signs</h2>
    {% if illness.images.exists %}
        <div class="image-gallery">
            {% for image in illness.images.all %}
                <img src="{{image.pic.url}}" alt="Image for {{illness.name}}" style="width: 500px; height: 400px;">
            {% endfor %}
        </div>
    {% else %}
        <p>No images available for {{illness.name}}</p>
    {% endif %}
   </div>
   {% endblock %}
</body>
</html>