{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="mt-4">{{illness.name}}</h2>
                <p>This is a water-borne disease caused by a bacteria known as Salmonella Typhi.</p>
                <p>It is also spread through contaminated food</p>
                <h2>Symptoms</h2>
                <div class="container">
                  <p>{{illness.description}}</p>
                </div>
            </div>
        </div>
    </div>
   
   {% if illness.images.exists %}
   <div class="container">
    <div class="row">
        {% for image in illness.images.all %}
            <div class="col-md-3">
              <div class="card mb-4">
                <img src="{{image.pic.url}}" alt="Image for {{illness.name}}"  class="card-img-top img-fluid">
              </div>
            </div>
        {% endfor %}
    </div>  
   </div>
   {% else %}
        <p>No images available for {{illness.name}}</p>
    {% endif %}

   {% endblock %}
</body>
</html>